@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.fontExo {
  font-family: "Exo", sans-serif;
}

/* Underline effect only for nav links */
.nav-link {
  position: relative;
  color: #333;
  text-decoration: none;

  padding-bottom: 5px;
}

.nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav-link:hover:before {
  width: 100%;
}

.nav-link.active {
  font-weight: 600;
}

.nav-link.active:before {
  width: 100%;
}

#go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #06c328;
  border: none;
  transition: opacity 0.4s, transform 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  z-index: 99;
  opacity: 0;
  transform: scale(0.9);
}

#go-top-btn.show {
  opacity: 1;
  transform: scale(1);
}

#go-top-btn i {
  color: #fff;
  font-size: 25px;
}

.download-box:hover {
  background-color: #06c328;
}

.download-box:hover * {
  color: #fff;
}

.download-box:hover .download-image img {
  display: none;
}

.download-btn {
  display: none;
}

.download-box:hover .download-btn {
  display: block;
}

.bootstrap-input-reset-style:focus {
  box-shadow: none !important;
  outline: none !important;
}

.newsletter-input input::placeholder {
  color: #fff;
}

@media (min-width: 767.98px) {
  .divider {
    display: block;
    visibility: hidden;
    font-size: 0;
  }
}
