@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.fontExo {
  font-family: "Exo", sans-serif;
}

/* Underline effect only for nav links */
.nav-link {
  position: relative;
  color: #333;
  text-decoration: none;

  padding-bottom: 5px;
}

.nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav-link:hover:before {
  width: 100%;
}

.nav-link.active {
  font-weight: 600;
}

.nav-link.active:before {
  width: 100%;
}

.download-box:hover {
  background-color: #06c328;
}

.download-box:hover * {
  color: #fff;
}

.download-box:hover .download-image img {
  display: none;
}

.download-btn {
  display: none;
}

.download-box:hover .download-btn {
  display: block;
}

@media (min-width: 767.98px) {
  .divider {
    display: block;
    visibility: hidden;
    font-size: 0;
  }
}
